*{
    margin: 0;
    padding: 0%
}

html{
    scroll-behavior: smooth;

}
.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.logo{
    margin-left: 150px;
    font-size: 2rem;
    color: white!important;
    font-family:'Open Sans', sans-serif;
    animation: 
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav{
    padding: 0 20px;
   
}

.navbar-nav li a{
    float: right;
    text-align: left;
    font-size: 1.2rem;
    color: #007bff;

}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar{
    
    padding: 12px;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: white!important;
    font-weight: 600;
    font-size: 16px;
}

.pad ul li{
    padding: 10px;
    padding-right: 35px;
}
header {
    min-height: 100vh;
    background-size:cover;
    background: linear-gradient(rgba(173, 169, 169, 0.623), rgba(0, 0, 0, 0.7)),
    url(back4.jpg) center/cover no-repeat!important;
    
}
.hidden-spacer {
    height: 56px
}

/* @media only screen and (max-width: 1289px) {
    .logo {
      margin-left: 20px;
    }
} */
.hero-content{
    text-align: center;
    float: left;
    margin-top: 150px;
    
    color: white;
    text-align: center;
    font-family: cursive;
    margin-left: 24%;
    font-family: 'Open Sans', sans-serif;
}  

.hero-content h1{
    font-size: 5rem;
   
}

.hero-content h3{
    font-size: 4rem;
}

.hero-content p{
    font-size: 25px;
}

.hero-content a{
    border: 0px solid white;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
    background-color: rgb(241, 60, 28);
    border-radius: 5px;
}

.hero-content a:hover{
    background-color: rgba(241, 60, 28,0.85);
}



/* 
@media only screen and (max-width: 1506px) {
    .hero-content h1, .hero-content h2{
        white-space: nowrap;
    }
}

@media only screen and (max-width: 830px) {
    .hero-content h1, .hero-content h2{
      font-size: 5rem;
    }
}
@media only screen and (max-width: 830px) {
    .hero-content h1, .hero-content h2{
      
      margin-left: -80px;
      
    }
}

@media only screen and (max-width: 516px) {
    .hero-content h1, .hero-content h2{
      font-size: 3.5rem;
      margin-top: 30px;
      margin-left: 1%;
    }
} */

.media i{
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

/* @media only screen and (max-width: 812px) {
    .media {
      margin-left: -80px;
      margin-left: 1%;
    }
} */


.nav-disp{
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.heading{
    color: black!important;
}

.y{
    color: white!important;
}

#navbarNav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;

    
}

#navbarNav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

#navbarNav ul li a{
    position: relative;
    font-size: 18px;
    color: white;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/* end of landing page */

.clg-name h2{
    font-size: 1.5rem;
    margin-top: 100px;
    font-weight: lighter;
   
}

.pos{
    margin-left: 25%;
}

.context h3{
    font-size: 1rem;
}

.counter div{
    padding: 30px 40px;
    margin-top: 20px;
    float: left;
    font-size: 2rem;
    color: tomato;
    border: 0.5px solid rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    margin-right: 40px;
}

.timer h4{
    font-weight: lighter;
}
.para{
    text-align: start;
    margin-right: 550px;
    clear: left;
    color: rgba(128, 128, 128, 0.925);
}

.rule{
    color: lightslategray;
    font-weight: bold;
}

.register{
    margin-top: 10px;
    padding: 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/* End of intro */

#events{
    background-color: grey;
}
.eve-heading h1{
    text-align: center;
    margin-top: 150px;
    padding: 80px;
    font-size: 4rem;
    color: white;
}

#events {
    min-height: 130vh;
    background-size:cover;
    background: linear-gradient(rgba(173, 169, 169, 0.623), rgba(0, 0, 0, 0.7)),
    url(event1.jpg) center/cover no-repeat!important;
    
}

.card-contents h4{
    color: white;
    margin-top: 10px;
    
}
.card-contents a{
    text-decoration: none;
}
img:hover{
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0)
    
}

.row2{
    margin-top: 100px;
}
/* END OF EVENTS */

.gen-rules h1{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 4rem;
    color: black;
}

.cat{
    margin-top: 100px;
    font-weight: bold;
    color: grey;
}

#footer{
    margin-top: 100px;
    background-image: linear-gradient(rgb(0,0,0),rgb(0,0,0)),url(footer.jpg);
    height: 200px;
    width: 100%;
    text-align: center;
    
}

#footer h2{
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
    color: white;

}
.social{
    padding-top: 120px;
}

#footer span{
    color: #efefef;
    padding-left: 10px;
}

.social a{
    padding:20px ;
    font-size: 1.5rem;
    color: grey;
}

.social a:hover{
    color: white;
}